.DMMain {
  background-color: #36393f;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 100vh;

  .DMMainHorizontalLine {
    width: 100%;
    height: 1.5px;
    background-color: rgb(32, 34, 37);
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2e3338;
  border-radius: 5px;
  margin: 10px 5px 10px 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #202225;
  border-radius: 5px;
}
