.friendListSideContainer {
  background-color: #2f3136;
  box-sizing: border-box;
  width: 240px;
  padding: 0;
  margin: 0;
  height: 100vh;
  scroll-behavior: smooth;
  overflow: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  .filterEverything {
    width: 220px;
    height: 28px;
    border-radius: 4px;
    background-color: #202225;
    color: #72767d;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    padding: 0px 0px 0px 10px;
    margin: 10px;
    box-sizing: border-box;
  }
  .friendsAndNitroNav {
    padding: 8px;
    a {
      text-decoration: none;
      .displayFriendsBtn,
      .displayNitroPageBtn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-radius: 4px;
        height: 42px;
        width: 100%;
        border: none;
        background: none;
        padding: 10px;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        outline: 0;
      }

      .displayFriendsBtn:hover,
      .displayNitroPageBtn:hover {
        background-color: #34373c;
      }
      .active {
        background-color: #393c43 !important;
      }
    }
  }
  .DMHeaderContainer {
    display: flex;
    justify-content: space-between;
    .DMHeading {
      padding: 18px 8px 4px 18px;
      height: 40px;
      box-sizing: border-box;
      text-transform: uppercase;
      font-size: 11px;
      line-height: 16px;
      font-weight: 600;
      color: #8e9297;
    }
    .createDmBtn {
      background: none;
      border: none;
      color: #fff;
      font-size: 24px;
      padding: 12px 0px 0px 0px;
      margin: 0px 16px 0px 0px;
      text-align: center;
      cursor: pointer;
      outline: none;
    }
  }

  .friendsList {
    scroll-behavior: smooth;
    overflow: auto;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    height: calc(100% - 33.55%);
    // 68.75%
    // height: 480px;
    // 722.4
    // 66.45
    // 52
    a {
      text-decoration: none;
      .userContainer {
        display: flex;
        margin: 8px 10px 0px 10px;
        padding: 8px 10px 0px 10px;
        .displayStatusMessage {
          position: absolute;
          width: auto;
          height: auto;
          color: #fff;
          background-color: #111;
          border-radius: 5px;
          z-index: 4;
          padding: 8px;
          text-transform: capitalize;
        }
        .friendListUserAvatar {
          width: 32px;
          height: 32px;
          img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
          }
        }
        .friendUsername {
          display: flex;
          align-items: center;
          color: #8e9297;
          margin: 0px 0px 0px 10px;
          text-overflow: ellipsis;
        }
        .offlineStatusIcon,
        .onlineStatusIcon,
        .busyStatusIcon {
          position: relative;
          top: -16px;
          left: 20px;

          border-radius: 50%;
          width: 10px;
          height: 10px;
          border: 0;
          border-radius: 50%;
          background-color: #717c8a;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 3;
          border: 3px solid #2f3136;

          .innerCircle {
            width: 5px;
            height: 5px;
            border: 0;
            border-radius: 50%;
            background-color: #2f3136;
          }
        }
        .onlineStatusIcon {
          background-color: #43b581;
        }
        .busyStatusIcon {
          background-color: #e84444;
          .innerLine {
            width: 8px;
            height: 2px;
            background-color: #2f3136;
          }
        }
      }
      .userContainer:hover {
        background-color: #34373c;
      }
    }
  }
  .meUserContainer {
    height: 52px;
    background-color: #282a2e;
    padding: 10px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    .profileContainer {
      display: flex;

      .imgContainer {
        cursor: pointer;
        .offlineStatusIcon,
        .onlineStatusIcon,
        .busyStatusIcon {
          position: relative;
          top: -16px;
          left: 20px;

          border-radius: 50%;
          width: 10px;
          height: 10px;
          border: 0;
          border-radius: 50%;
          background-color: #717c8a;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 3;
          border: 3px solid #2f3136;

          .innerCircle {
            width: 5px;
            height: 5px;
            border: 0;
            border-radius: 50%;
            background-color: #2f3136;
          }
        }
        .onlineStatusIcon {
          background-color: #43b581;
        }
        .busyStatusIcon {
          background-color: #e84444;
          .innerLine {
            width: 8px;
            height: 2px;
            background-color: #2f3136;
          }
        }
      }
      .userNameStatusContainer {
        margin: 0px 0px 0px 15px;
        color: #8e9297;
      }
    }
    .settingsContainer {
      display: flex;
      align-items: center;
      padding: 0px 10px 0px 0px;
    }
  }
}
.friendsList::-webkit-scrollbar {
  display: none; // safari/chrome
}
.friendListSideContainer::-webkit-scrollbar {
  display: none; // safari/chrome
}
