.modalBG {
  position: absolute;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  .modalContainer {
    background-color: #fff;
    position: absolute;
    width: 440px;
    top: 20%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px 15px 0px 15px;
    border-radius: 5px;
    .serverHeader {
      font-weight: bold;
      color: #060607;
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 20px;
    }
    .serverSubHeading {
      font-size: 16px;
      line-height: 20px;
      color: #4f5660;
    }
    .serverLogo {
      width: 80px;
      height: 80px;
      margin: 30px 0px 60px 0px;
      border-radius: 50%;
    }
    .createServerForm {
      text-align: left;
      
      .btnContainer {
        display: flex;
        justify-content: space-between;
        margin: 40px 0px 30px 0px;
        
      }
    }
  }
}
